name = "StateSpaceEcon"
uuid = "e4c825b0-b65c-11ea-0b5a-6176b64e7b7f"
authors = ["Atai Akunov <aakunov@bankofcanada.ca>", "Boyan Bejanov <bbejanov@bankofcanada.ca>", "Nicholas Labelle St-Pierre <labs@bankofcanada.ca>"]
version = "0.5.3"

[deps]
ComponentArrays = "b0b7db55-cfe3-40fc-9ded-d10e2dbeff66"
DelimitedFiles = "8bb1440f-4735-579b-a4ab-409b98df4dab"
DiffResults = "163ba53b-c6d8-5494-b064-1a9d43ac40c5"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
ModelBaseEcon = "1d16192e-b65e-11ea-11ed-0789cee22d2f"
Pardiso = "46dd5b70-b6fb-5a00-ae2d-e8fea33afaf2"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
SuiteSparse = "4607b0f0-06f3-5cda-b6b1-a6196a1729e9"
Suppressor = "fd094767-a336-5f1f-9728-57cf17d0bbfb"
TimeSeriesEcon = "8b6756d2-c55c-11ea-2998-5f67ea17da60"
TimerOutputs = "a759f4b9-e2f1-59dc-863e-4aeb61b1ea8f"

[compat]
DelimitedFiles = "1.7"
ComponentArrays = "0.15"
DiffResults = "1.0"
ForwardDiff = "0.10"
LinearAlgebra = "1.7"
ModelBaseEcon = "0.6"
Pardiso = "0.5"
Printf = "1.7"
Random = "1.7"
SparseArrays = "1.7"
Suppressor = "0.2"
TimeSeriesEcon = "0.7"
TimerOutputs = "0.5"
julia = "1.7"

[extras]
DelimitedFiles = "8bb1440f-4735-579b-a4ab-409b98df4dab"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
Suppressor = "fd094767-a336-5f1f-9728-57cf17d0bbfb"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
